<% include header.ejs %>
    <!--<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4 text-center">
                            Welcome to The VoteChain
                            <hr>
                        <img style="margin: 0 auto; display:block; width: 100%;" src="/images/home.png">                            
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>-->

    <div class="csi-container ">
        <!-- ***  ADD YOUR SITE CONTENT HERE *** -->
    
        <!--HEADER END-->
    
    
        
    
    
        <!--ABOUT-->
        <!--//.ABOUT-->
    
    
        <!--VISION MISSION-->
       <!--//.VISION MISSION-->
    
    
    
        <!--SUPPORT-->
        <section>
            <div id="csi-support" class="csi-support">
                <div class="csi-inner">
                    <div class="csi-inner-img">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="support-content">
                                        <h2 class="animated bounceInDown ">Your Support Make Big Help For Us</h2>
                                      
                                        <p class="animated  fadeInLeft ">Voting is not only our right , it is our power . When we vote , we take back our power to choose, to speak up and to stand with those who support us and each other !  </p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div>
                </div><!-- //.INNER -->
            </div>
        </section> <!--//.SUPPORT-->
    
    
    
        <!--EVENTS-->
        <section>
            <div id="csi-events" class="csi-events">
                <div class="csi-inner-bg">
                    <div class="csi-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="csi-heading">
                                        Upcoming <span>Events</span>
                                        <i><img src="assets/img/heading-style.png" alt="heading"/></i>
                                    </h2>
                                </div>
                            </div> <!--//.row-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="event-single event-single-feature">
                                        <figure>
                                            <img src="assets/img/events/event1.jpg" alt="event"/>
                                            <figcaption>
                                                <div class="date">
                                                    <h4>25 <span>July</span></h4>
                                                </div>
                                                <div class="content">
                                                    <h4 class="time">08:00 AM - 05:00 PM</h4>
                                                    <h3 class="animated bounceInRight "><a href="event-single.html">Digital World Event Introduction</a></h3>
                                                    <p class="location">Tunisia</p>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>  
    







 <!-- politicians start -->

 <section class="container sp-lg politicians epd-x">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="csi-heading">
                The <span>Candidates</span>
                <i><img src="assets/img/heading-style.png" alt="heading"/></i>
            </h2>
        </div>
    </div> 
   
    <div class="col-md-4 epd-x-l pd-x-r-90">
        <div class="politicians-img-wrapper-1 pos-r">
            <img src="img/resources/politician-1.png" alt="our politician">
            <div class="politicians-img-overlay-1">
                <h4 class="ff-ssp fz-22 fw-n pd-y-t-102 pd-y-b-25 text-uppercase tc-3 lh-15">John denvaer</h4>
                <p class="tc-1 fz-14 fw-n ff-abee lh-10 pd-y-b-35">Media wing specialist</p></a>
                <p class="fz-15 ff-abee fw-n lh-26 tc-4"> </p>
                <ul>
                    <li class="politicians-img-overlay-social"><i class="fa fa-facebook"></i></li>
                    <li class="politicians-img-overlay-social"><i class="fa fa-twitter"></i></li>
                    <li class="politicians-img-overlay-social"><i class="fa fa-linkedin"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 pd-x-l-35 pd-x-r-35">
        <div class="politicians-img-wrapper-2 pos-r politicians-img-wrapper-different">
            <img src="img/resources/politician-2.png" alt="our politician">
            <div class="politicians-img-overlay-2">
                <h4 class="ff-ssp fz-22 fw-n pd-y-t-102 pd-y-b-25 text-uppercase tc-3 lh-15">PRISCILLA THOMSON</h4>
                <p class="tc-1 fz-14 fw-n ff-abee lh-10 pd-y-b-35">Human Rights Consultant</p></a>
                <p class="fz-15 ff-abee fw-n lh-26 tc-4"> </p>
                <ul>
                    <li class="politicians-img-overlay-social"><i class="fa fa-facebook"></i></li>
                    <li class="politicians-img-overlay-social"><i class="fa fa-twitter"></i></li>
                    <li class="politicians-img-overlay-social"><i class="fa fa-linkedin"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 epd-x-r pd-x-l-90"> 
        <div class="politicians-img-wrapper-3 pos-r">
            <img src="img/resources/politician-3.png" alt="our politician">
            <div class="politicians-img-overlay-3">
                <h4 class="ff-ssp fz-22 fw-n pd-y-t-102 text-right pd-y-b-25 text-uppercase tc-3 lh-15">Edmund Hopkins</h4>
                <p class="tc-1 fz-14 fw-n ff-abee lh-10 text-right pd-y-b-35">Education consultent</p></a>
                <p class="fz-15 ff-abee fw-n lh-26 text-right tc-4"></p>
                <ul>
                    <li class="politicians-img-overlay-social"><i class="fa fa-facebook"></i></li>
                    <li class="politicians-img-overlay-social"><i class="fa fa-twitter"></i></li>
                    <li class="politicians-img-overlay-social"><i class="fa fa-linkedin"></i></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- politicians end -->
        <!-- our-promises start -->

        <section class="our-promises xs-res sp-lg container epd-x">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="csi-heading">
                        Candidates <span>Promises </span>
                        <i><img src="assets/img/heading-style.png" alt="heading" /></i>
                    </h2>
                </div>
            </div> 
            <p class="section-heading-center-detail">Your vote is your voice </p>
            <div class="our-promises-content-wrapper pos-r">
                <!-- our-promises-left -->
                <div class="col-sm-4 epd-x-l pd-x-r-70">
                    <div class="our-promises-content pd-y-b-50">
                        <h3 class="section-sub-heading-left-2"><i class="flaticon-lifeline-in-a-heart-outline tc-1 pd-x-r-15"></i>health policy</h3>
                        <p class="ff-abee fz-15 fw-n tc-4 lh-26">
                            "Digital Health": Strategic Axis of the "National Strategic Plan Digital Tunisia 2020", in support of the ambition of the reform of the Health System</p>
                    </div>
                    <div class="our-promises-content pd-y-b-50">
                        <h3 class="section-sub-heading-left-2"><i class="flaticon-gavel tc-1 pd-x-r-15"></i>LAW &amp; ORDER POLICY</h3>
                        <p class="ff-abee fz-15 fw-n tc-4 lh-26">“We must maintain law and order at the highest level or we will cease to have a country,We are the law and order candidates”</p>
                    </div>
                    <div class="our-promises-content">
                        <h3 class="section-sub-heading-left-2"><i class="fa fa-shield tc-1 lh-15 pd-x-r-15"></i>HUMAN RIGHTS POLICY</h3>
                        <p class="ff-abee fz-15 fw-n tc-4 lh-26">Human rights are not only violated by terrorism, repression or assassination, but also by unfair economic structures that creates huge inequalities.     </p>
                    </div>
                </div>
                <div class="our-promises-content-absolute">
                    <img src="img/resources/our-promises-1.jpg" alt="im" width="460" height="700" background-color=>
                </div>
                <!-- our-promises-right -->
                <div class="col-sm-4 col-sm-offset-4 epd-x-r pd-x-l-70">
                    <div class="our-promises-content pd-y-b-50">
                        <h3 class="section-sub-heading-left-3 fr">JUSTICE POLICY<i class="fa fa-home lh-15 tc-1 pd-x-l-15"></i></h3>
                        <div class="clr"></div>
                        <p class="ff-abee text-right fz-15 fw-n tc-4 lh-26">An injustice somewhere is a threat to justice around the world.</p>
                    </div>
                    <div class="our-promises-content pd-y-b-50">
                        <h3 class="section-sub-heading-left-3 fr">MEDICAL POLICY<i class="fa fa-medkit lh-15 tc-1 pd-x-l-15"></i></h3>
                        <div class="clr"></div>
                        <p class="ff-abee text-right fz-15 fw-n tc-4 lh-26"> We always have faith. But what we expected from God, we expect today from medical science. </p>
                    </div>
                    <div class="our-promises-content">
                        <h3 class="section-sub-heading-left-3 fr">EDUCATION POLICY<i class="fa fa-book lh-15 tc-1 pd-x-l-15"></i></h3>
                        <div class="clr"></div>
                        <p class="ff-abee text-right fz-15 fw-n tc-4 lh-26">Solid, coherent policies and plans are the bedrock on which to build sustainable education systems, achieve educational development goals and contribute effectively to lifelong learning.  </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="clr"></div>
        <!-- our-promises end -->
       
        <div class="clr"></div>
        
       
        </div>
    
        <!-- client start -->

        <div class="client container sp-lg epd-x">
                <div class="row">
                        <div class="col-sm-12">
                            <h2 class="csi-heading">
                                Our <span>Sponsors </span>
                                <i><img src="assets/img/heading-style.png" alt="heading"/></i>
                            </h2>
                        </div>
                    </div> 
            <div class="client-carousel">
                <div class="client-carousel-item"><img src="assets/img/sponsors/sponsor1.png" alt=""></div>
                <div class="client-carousel-item"><img src="assets/img/sponsors/sponsor2.png" alt=""></div>
                <div class="client-carousel-item"><img src="assets/img/sponsors/sponsor3.png" alt=""></div>
                <div class="client-carousel-item"><img src="assets/img/sponsors/sponsor4.png" alt=""></div>
                <div class="client-carousel-item"><img src="img/clients/client-5.png" alt=""></div>
            </div>
        </div>
        <div class="clr"></div>
        <!-- client end -->

    
        <footer>
            <div id="csi-footer" class="csi-footer">
                <div class="csi-inner">
                    <div class="footer-top-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="footer-top">
                                        <a class="footer-logo" href="#"><img src="assets/img/logo.png" alt="Logo"  width="200" height="40" /></a>
                                        <div class="contact-info">
                                            <ul class="list-inline">
                                                <li><i class="fa fa-phone" aria-hidden="true"></i> +88 223-556943</li>
                                                <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="https://httpcoder.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6a0e05070b0304040b070f2a0e05070b030444090507">[email&#160;protected]</a></li>
                                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Centre 58 Wurundjeri Way Dablin, 3000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!--//.ROW-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-4">
                                    <div class="footer-single footer-single-about">
                                        <h3 class="title">About VoteChain</h3>
                                        <p>You can contact us on Our Social media  </p>
                                        <ul class="list-inline footer-social">
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-4">
                                    <div class="footer-single">
                                        <h3 class="title">Quick Links</h3>
                                        <ul class="list-unstyled link-list">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Privacy Poilicy</a></li>
                                            <li><a href="#">All Issues</a></li>
                                            <li><a href="#">Donation Us</a></li>
                                            <li><a href="#">Privacy Poilicy</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                        <ul class="list-unstyled link-list">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Privacy Poilicy</a></li>
                                            <li><a href="#">All Issues</a></li>
                                            <li><a href="#">Donation Us</a></li>
                                            <li><a href="#">Privacy Poilicy</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="footer-single">
                                        <h3 class="title">Latest Flicker</h3>
                                        <ul class="list-unstyled csi-flicker">
                                            <li><a href="#"><img src="assets/img/flickers/flicker.jpg" alt="flicker"/></a></li>
                                            <li><a href="#"><img src="assets/img/flickers/flicker2.jpg" alt="flicker"/></a></li>
                                            <li><a href="#"><img src="assets/img/flickers/flicker3.jpg" alt="flicker"/></a></li>
                                            <li><a href="#"><img src="assets/img/flickers/flicker4.jpg" alt="flicker"/></a></li>
                                            <li><a href="#"><img src="assets/img/flickers/flicker5.jpg" alt="flicker"/></a></li>
                                            <li><a href="#"><img src="assets/img/flickers/flicker6.jpg" alt="flicker"/></a></li>
                                            <li><a href="#"><img src="assets/img/flickers/flicker7.jpg" alt="flicker"/></a></li>
                                            <li><a href="#"><img src="assets/img/flickers/flicker8.jpg" alt="flicker"/></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--//.ROW-->
                        </div><!-- //.CONTAINER -->
                    </div>
                    <div class="csi-footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Votechain is proudly powered by <a href="https://www.httpcoder.com/">HttpCoder</a> | <i class="fa fa-copyright" aria-hidden="true"></i> 2019 all rights reserved by <a href="http://csinfotechbd.com/">CSInfotech</a></p>
                                </div>
                            </div><!--//.ROW-->
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER-->
                </div>
            </div>
        </footer>
        <div class="clr"></div>
        <!-- footer end-->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.mixitup.min.js"></script>
    <script src="/js/SmoothScroll.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/ion.rangeSlider.min.js"></script>
    <script src="/js/html5lightbox/html5lightbox.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="../../../malihu.github.io/custom-scrollbar/3.0.0/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>

</body>


<!-- Mirrored from world5.commonsupport.com/2017/Senator/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Apr 2019 08:20:24 GMT -->
</html>