<% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container" style="width: 40%;">
                        <h1 class="display-4 text-center">Admin Login</h1>
                        <p class="lead">
                            <form method="post" action="/admin/login">
                                <div class="form-group">
                                    <label for="login_id">Login ID</label>
                                    <input type="text" class="form-control" id="login_id" name="login_id">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                                <hr>
                                <div class="form-group">
                                    <button type="submit" id="login_btn" class="btn btn-success btn-lg btn-block">Login</button>
                                </div>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid sp-md tc-bg-4 clearfix" data-toggle="collapse">
            <a class="footer-logo" href="#"><img src="assets/img/logo.png" alt="Logo"  width="200" height="40" /></a>
        <div class="container tc-bg-5 epd-x  pd-y-20 footer-top">
            <div class="col-md-4 pd-x-l-110 epd-x-r">
                <i class="fa fa-phone"></i>
                <div class="dib">
                    <p class="ff-ssp pd-x-l-15 lh-13 tc-7 text-uppercase fz-18 fw-b">phone</p>
                    <p class="tc-7 fz-16 fw-n pd-x-l-15 pd-y-t-10 lh-11 ff-abee">(+1-888-77-8989 00)</p>
                </div>
            </div>
            <div class="col-md-4 pd-x-l-75 epd-x-r">
                <i class="flaticon-location-marker"></i>
                <div class="dib">
                    <p class="ff-ssp pd-x-l-15 lh-13 tc-7 text-uppercase fz-18 fw-b">address</p>
                    <p class="tc-7 fz-16 fw-n pd-x-l-15 pd-y-t-10 lh-11 ff-abee">120D, Strikerate st, US1010A</p>
                </div>
            </div>
            <div class="col-md-4 pd-x-l-35 epd-x-r">
                <i class="fa fa-paper-plane"></i>
                <div class="dib">
                    <p class="ff-ssp pd-x-l-15 lh-13 tc-7 text-uppercase fz-18 fw-b">email</p>
                    <p class="tc-7 fz-16 fw-n pd-x-l-15 pd-y-t-10 lh-11 ff-abee">info@domianname.com</p>
                </div>
            </div>
            <div class="clr"></div>
        </footer>
    </body>

    </html>